.main .best-withdraw .one-company {
  position: relative;
}

.main .best-withdraw .one-company span {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 6px;
  top: 6px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAhpJREFUOBGtlLtrFFEUxr/vZrMLKmIVEEElRYSojUGxCAQCqWTcPCcgvqp0/gFa2dlZKQhWNhJm40Z3i2Q7W0M0IKRRkOCDaBMJKCQb9x7PzDi7M7MxhllvMfee12/OuY9D7DFkeaYba1/PwBZW6Zbqe7gmTCYhxQQRIT6sL6Ahb4DtFXnmXIyZId7UMSmP9cR10ZrRIj1LqXgd1j5p6Wlh8FTlH7AYBqQPxC8YM8jJF69afkAuLkRrmR89ibq9F8nhLEZhVxM60XixV1S3O1TmnNMQXoKVC6g3RtTxcALwN0FwPm0Kyhev2K/lrEAkn3b4p0zWkes6y/H5d5FveFDk0UxAn+InstOoSckpRtAw09q1g9jc3MgMbtK4iEMnRpunL57zEoKhyJ55NpyI3VPdm87HT5jcUgDVLIe1dP/EOxsGtzlR/mykOnNASY87o2k0+RaTAw99jsHW+ojuZW/HUOAjedeGUNP9Wn/z7T9AB7UfdAVQfw/AQr+m/yB4y1npIkeAnYEwU/1qW9ugW7mlzWE8KzOIoxT8uXlPI5h4l1f1Juiz3ff4rlUu67mUOV155Eft0qW4pG9vP9Atjb8Bt1IiKfEUYpf/j5pSiztoLe+1oE8JnS8Yc5/TVS8NDExpZ05VZmHoKugmCuY43Wofes71qu6O/mA78Ce+QPKpftsite1py9S+0v0+pT3XQZ5zHHu+1u4Ran4DQ0igxm/1bVwAAAAASUVORK5CYII=)
    50%;
  background-size: 100% 100%;
  text-align: center;
  line-height: 19px;
  font-size: 13px;
  font-weight: 600;
  text-shadow: 0 2px 4px rgb(167 70 0 / 50%);
  color: #fff;
  z-index: 9;
}
.main .top-head .list-btn-head {
  display: flex;
  justify-content: space-between;
}
.main .top-head .list-btn-head .btn-item {
  box-sizing: border-box;
  width: 224px;
  height: 63px;
  background: #000000;
  border: 0.5px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .top-head .list-btn-head .btn-item span {
  color: #fff;
}
.main .bg-accompany {
  background: url(/img_accompany/bgdonghanh.png);
  height: 445px;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-footer {
  background: url(/img_accompany/bgdonghanh.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  padding-top: 20px;
}
.bg-footer .des {
  text-align: justify;
}
.main .title {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #000000;
}
.title-accompany {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 73px;
  letter-spacing: 0.06em;
  color: #ff9900;
}
.best-casino .col-md-6 span {
  position: absolute;
  top: 66%;
  z-index: 2;
  color: #ffff;
  left: 0;
  right: 0;
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.report form .title-input {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #090000;
  margin: 0;
}
.report form .title-input-text {
  outline: none;
  border: none;
  border-bottom: 2px solid #989898;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
}
.report .des {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.055em;
}

.report .btn-send {
  width: 300px;
  height: 63px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.report .btn-send span {
  color: #ffffff;
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}
.slider {
  background-color: #e7e7e7;
}
.slider .swiper-wrapper {
  padding-bottom: 20px;
}
.slider .swiper-pagination {
  position: absolute !important;
  bottom: 0px !important;
  left: 0 !important;
}
.slider .swiper-pagination .swiper-pagination-bullet-active {
  width: 55px !important;
  height: 10px;
  background: #ff9900;
  border-radius: 10px;
}
.slider .swiper-pagination .swiper-pagination-bullet {
  opacity: unset;
  height: 10px;
  width: 10px;
}
.slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  border: 2px solid #ffffff;
}
.slide-accompany {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.slide-accompany .swiper {
  position: unset;
}
.slide-accompany .swiper-button-prev {
  position: absolute;
  left: 20;
  z-index: 9999;
}
.slide-accompany .swiper-button-prev::after {
  content: "" !important;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 15px solid #ff9900;
  border-bottom: 10px solid transparent;
}
.slide-accompany .swiper-button-next::after {
  content: "" !important;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #ff9900;
  border-bottom: 10px solid transparent;
}
.slide-accompany .swiper-button-prev {
  left: -90px;
}
.slide-accompany .swiper-button-next {
  right: -80px;
}
.social {
  background-color: #e7e7e7;
}
.list-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.list-brand {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.bannerMobi {
  position: relative;
}
.bg-gradient-header-mobi {
  position: absolute;
  height: 20%;
  width: 100%;
  background: linear-gradient(180deg, rgba(1, 3, 3, 0) 0%, #00000091 46.35%);
  bottom: 0;
}
.textBanner {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0;
}
.textBannerTop {
  position: absolute;
  width: 100%;
  padding: 10px;
  top: 18px;
}
.textBannerTop p {
  font-family: "UTM HelvetIns";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 81px;
  text-align: center;
  text-transform: uppercase;
  color: #ff9900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textBanner p {
  font-family: UTM_HELVETLNS;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 3.60091px 3.60091px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.bgBrand {
  width: 100%;
}

.bgBrand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textBanner p:nth-child(2) {
  margin-top: 5px;
}

.box-top-head {
  padding: 0 10px 10px;
}

.top-head-item {
  background-image: url(/img_mobile/bg_brand/bet789.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 135px;
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(255, 255, 255, 0.496) 0px 0px 0px 1px;
}

.box-top-head .top-head-item:nth-child(2) {
  background-image: url(/img_mobile/bg_brand/new88.png);
  background-position: center center;
}

.box-top-head .top-head-item:nth-child(3) {
  background-image: url(/img_mobile/bg_brand/hi88.png);
  background-position: center center;
}

.box-top-head .top-head-item:nth-child(4) {
  background-image: url(/img_mobile/bg_brand/shbet.png);
  background-position: center center;
}

.box-top-head .top-head-item:nth-child(5) {
  background-image: url(/img_mobile/bg_brand/jun88.png);
  background-position: center center;
}

.box-top-head .top-head-item:nth-child(6) {
  background-image: url(/img_mobile/bg_brand/f8bet.png);
  background-position: center center;
}

.itemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(0deg, #000000 0%, rgba(101, 63, 7, 0) 100%),
    linear-gradient(0deg, #ffbc0047 0%, rgba(101, 63, 7, 0) 100%);
  padding: 10px;
  border-radius: 8px;
}

.read-or-hide {
  font-style: italic;
}

@media screen and (max-width: 440px) {
  .main .top-head {
    font-size: 12px;
  }

  .best-withdraw .col-2 {
    width: 50%;
    font-size: 12px;
  }

  .form-certificate label {
    width: 100% !important;
    text-align: start;
  }
}
